body
{
  margin-top:    0;
  margin-bottom: 0;
  margin-left:   0;
  margin-right:  0;
  background-color: #cccccc;
  padding: 0;
  background-attachment: fixed;
  
}

a
{
	color: #009f00;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

a:hover
{
	color: #ff0000;
	text-decoration: none;
}

img
{
	border:none;
}
td
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

input,select
{
	font-size: 12px;
	border:1px solid #A8C2D7;
}

.tabel
{
  padding-left: 0px;
  padding-right: 0px;
  cellspacing   :0px;
  cellpadding: 0px;
  border:1px solid #A8C2D7;
}

.border
{
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #A8C2D7;
}

.border2
{
  padding-left: 1px;
  padding-right: 1px;
  border: 1px solid #A8C2D7;
} 

.td {
	font-size: 15px;
	font-weight: bold;
	text-align: center;	
	padding: 3px;	
	background-color: #66CCFF; 
}

.td1 {
	font-size: 12px;
	font-weight: bold;
	text-align: center;	
	padding: 3px;	
	background-color: #eeeeee;
}

.td2 {	
	font-size: 12px;		
	padding: 3px;	
	background-color: #f5f9fd;
}

.td3 {	
	font-size: 12px;		
	padding: 3px;	
	background-color: #D4FFFF;
}

.button {
	background-color: #eeeeee;
	font-weight: bold;
	text-align: center;
}

.input {
	background-color: #eeeeee;
	font-weight: bold;
	text-align: center;
}
.menu
{
  text-align: center;
  padding-bottom: 5px;
}


.large
{
    font-size: 15px;
    height: 30px;
	font-weight: bold;
	text-align: center;
}

